{{ if .Site.Params.skills.enable }}
<section id="skills" class="py-0 py-sm-5">
    <div class="container bg-transparent">
        <h3 class="text-center bg-transparent">{{ .Site.Params.skills.title | default "Skills" }}</h3>
        <div class="bg-transparent row justify-content-center px-3 py-5">
            <div class="col-sm-12 col-md-12 col-lg-8 content">
                <div class="skills-grid">
                    {{ range .Site.Params.skills.list }}
                    <div class="skill-item">
                      <img src="{{ $.Site.Params.staticPath }}{{ .image }}" alt="{{ .name }} logo">
                      <span>{{ .name }}</span>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}